const { ChannelType } = require('discord.js');

const config = {
  // Bot Owner(s), level 10 by default. Array of user ID strings.
  owners: [],

  // Bot Admins, level 9 by default. Array of user ID strings.
  "admins": [],

  // Bot Support, level 8 by default. Array of user ID strings
  "support": [],

  // Your Bots Token. Available on https://discordapp.com/developers/applications/me
  "token": '',

  // Auth token for BotList.me
  BotListToken: '',

  language: 'en-us',

  // OxFord Dictionary
  OxfordID: '',
  OxfordKey: '',

  // OwlBot API key
  owlKey: '',

  // Github API Token
  github: '',

  // TMDb API Token
  TMDb: '',

  // Default per-server settings. These settings are entered in a database on first load, 
  // And are then completely ignored from this file. To modify default settings, use the `conf` command.
  // DO NOT REMOVE THIS BEFORE YOUR BOT IS LOADED AND FUNCTIONAL.
  
  defaultSettings: {
    prefix: '*',
    modLogChannel: 'mod-log',
    modRole: 'Moderator',
    adminRole: 'Administrator',
    systemNotice: 'true',
    welcomeEnabled: 'false',
    welcomeChannel: 'welcome-leave',
    welcomeMessage: 'Hello {{user}}, welcome to **{{guild}}**. We hope you have a great time here!',
    leaveChannel: 'welcome-leave',
    leaveMessage: 'Goodbye {{user}} :( Sorry to see you go.',
    leaveEnabled: 'false'
  },

  // PERMISSION LEVEL DEFINITIONS.

  permLevels: [
    // This is the lowest permission level, this is for non-roled users.
    { level: 0,
      name: "User", 
      // Don't bother checking, just return true which allows them to execute any command their
      // level allows them to.
      check: () => true
    },

    // This is your permission level, the staff levels should always be above the rest of the roles.
    { level: 2,
      // This is the name of the role.
      name: "Moderator",
      // The following lines check the guild the message came from for the roles.
      // Then it checks if the member that authored the message has the role.
      // If they do return true, which will allow them to execute the command in question.
      // If they don't then return false, which will prevent them from executing the command.
      check: (message) => {
        try {
          const modRole = message.guild.roles.cache.find(r => r.name.toLowerCase() === message.settings.modRole.toLowerCase());
          if (!modRole) return false;
          if (message.member.roles.cache.has(modRole.id)) return true;
          if (message.member.roles.highest.position > modRole.position) return true;
        } catch (e) {
          return false;
        }
      }
    },

    { level: 3,
      name: "Administrator", 
      check: (message) => {
        try {
          const adminRole = message.guild.roles.cache.find(r => r.name.toLowerCase() === message.settings.adminRole.toLowerCase());
          if (message.member.permissions.has('Administrator')) return true;
          if (!adminRole) return false;
          if (message.member.roles.cache.has(adminRole.id)) return true;
          if (message.member.roles.highest.position > adminRole.position) return true;
        } catch (e) {
          return false;
        }
      }
    },

    { level: 4,
      name: "Server Owner", 
      // Simple check, if the guild owner id matches the message author's ID, then it will return true.
      // Otherwise it will return false.
      check: (message) => message.channel.type === ChannelType.GuildText ? (message.guild.ownerID === message.author.id ? true : false) : false
    },

    // Bot Support is a special in between level that has the equivalent of server owner access
    // to any server they joins, in order to help troubleshoot the bot on behalf of owners.
    { level: 8,
      name: "Bot Support",
      // The check is by reading if an ID is part of this array. Yes, this means you need to
      // change this and reboot the bot to add a support user. Make it better yourself!
      check: (message) => config.support.includes(message.author.id)
    },

    // Bot Admin has some limited access like rebooting the bot or reloading commands.
    { level: 9,
      name: "Bot Admin",
      check: (message) => config.admins.includes(message.author.id)
    },

    // This is the bot owner, this should be the highest permission level available.
    // The reason this should be the highest level is because of dangerous commands such as eval
    // or exec (if the owner has that).
    { level: 10,
      name: "Bot Owner", 
      // Another simple check, compares the message author id to the one stored in the config file.
      check: (message) => config.owners.includes(message.author.id)
    }
  ]
};

module.exports = config;