const config = {
  // Bot Owner(s), level 10 by default. Array of user ID strings.
  owners: ['ownerId'],

  // Bot Admins, level 9 by default. Array of user ID strings.
  admins: ['adminId'],

  // Bot Support, level 8 by default. Array of user ID strings
  support: ['supportId'],

  // Your Bots Token. Available on https://discordapp.com/developers/applications/me
  token: '',

  // Github API Token
  github: '',

  // TMDb API Token
  TMDb: '',

  // OpenWeather API Token
  OpenWeather: '',

  // Discord webhook to send bot logs to
  // Leave blank to not send logs to a webhook.
  botLogsWebhookURL: '',

  // botpanel.xyz configuration
  // This is completely optional.
  BotPanelID: '',
  BotPanelSecret: '',
  BotPanelURL: 'https://botpanel.xyz/dashboard/Mythical',

  // Web server port (Leave blank, used for sending data to the mythical website)
  Port: '',

  // Wordnik API Token
  Wordnik: '',

  // MySQL Database Configuration
  mysql: {
    host: 'localhost',
    port: '3306',
    user: 'mythical',
    password: 'youshallnotpass',
    database: 'MythicalBot',
  },

  // Lavalink nodes
  nodes: [
      {
        authorization: 'youshallnotpass',
        host: 'localhost',
        port: 2333,
        id: 'main',
      },
    ],

  // Default per-server settings. These settings are entered in a database on first load, 
  // And are then completely ignored from this file. To modify default settings, use the `conf` command.
  // DO NOT REMOVE THIS BEFORE YOUR BOT IS LOADED AND FUNCTIONAL.
  
  defaultSettings: {
    prefix: '*',
    modRole: 'Moderator', // This can also be a role ID
    adminRole: 'Administrator', // This can also be a role ID
    welcomeEnabled: 'false',
    welcomeChannel: 'welcome-leave', // This can also be a channel ID
    welcomeMessage: 'Hello {{user}} ({{globalName}}), welcome to {{guild}}. We hope you have a great time here!',
    leaveChannel: 'welcome-leave', // This can also be a channel ID
    leaveMessage: 'Goodbye {{user}} ({{globalName}}) :( Sorry to see you go.',
    leaveEnabled: 'false',
    embedColor: '#0099CC',
    embedErrorColor: '#FF0000',
    embedSuccessColor: '#00FF00'
  },
};

module.exports = config;